:host {
  display: flex;
  flex-direction: column;

  align-self: stretch;

  gap: var(--size-9);

  margin: 0 auto;

  padding: var(--size-fluid-6) var(--size-fluid-3);

  inline-size: 100%;
  max-inline-size: min(var(--size-content-3), 100%);

  &[variant='flush'] {
    justify-content: space-between;

    padding: var(--size-fluid-6) 0;

    max-inline-size: unset;
  }

  &[variant='vertical'] {
    align-self: center;
  }
}
